<!DOCTYPE html>
<html lang="es" class="js">

<head>
  <%- include('../static/head', {tituloSeccion: title}); %>
</head>

<body class="home page-template-default page page-id-798 custom-background et_pb_button_helper_class et_fixed_nav et_show_nav et_primary_nav_dropdown_animation_fade et_secondary_nav_dropdown_animation_fade et_header_style_left et_pb_footer_columns4 et_cover_background et_pb_gutter windows et_pb_gutters3 et_pb_pagebuilder_layout et_no_sidebar et_divi_theme et-db et_minified_js et_minified_css chrome" cz-shortcut-listen="true" style="overflow-x: hidden">
  <div id="page-container" style="padding-top: 104px; overflow-y: hidden; background-color: #323232">
    <header id="main-header" data-height-onload="104" data-height-loaded="true" data-fixed-height-onload="104" style="top: 0px">
      <%- include('../static/header'); %>
    </header>
    <main>


    </main>
    <footer>
      <%- include('../static/footer'); %>
    </footer>
  </div>
</body>

</html>