<div class="container clearfix et_menu_container">
    <div class="logo_container">
        <span class="logo_helper"></span>
        <a href="http://PUTURIHERE/">
            <img src="../../img/Logo-Crosetto-w.png" alt="Crosetto Ingeniería S.A." id="logo"
                data-height-percentage="60" data-actual-width="298" data-actual-height="80" />
        </a>
    </div>
    <div id="et-top-navigation" data-height="90" data-fixed-height="60" style="padding-left: 262px">
        <nav id="top-menu-nav">
            <ul id="top-menu" class="nav">
                <li id="0" class=""><a href="http://www.crosetto.com.ar/" aria-current="page">INICIO</a></li>
                <li id="1" class=""><a href="http://www.crosetto.com.ar/#ingreso" aria-current="page">ALTA</a>
                </li>
                <li id="2" class=""><a href="http://www.crosetto.com.ar/#retiro" aria-current="page">BAJA</a>
                </li>
                <li id="3" class=""><a href="http://www.crosetto.com.ar/#logout" aria-current="page">SALIR</a>
                </li>
            </ul>
        </nav>
    </div>
</div>