<div class="container clearfix et_menu_container">
  <nav class="navbar is-dark" style="background-color: #323232;">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="#">
          <img src="../../img/Logo-Crosetto-w.png" alt="Crosetto Ingeniería S.A." id="logo"
               data-height-percentage="60" data-actual-width="298" data-actual-height="80" />
        </a>
        <span class="navbar-burger burger" data-target="navMenu">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navMenu" class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item " href="/" aria-current="page">INICIO</a>
          <a class="navbar-item " href="/ingresos" aria-current="page">INGRESO</a>
          <a class="navbar-item" href="/salidas" aria-current="page">SALIDA</a>
          <div class="navbar-item has-dropdown is-hoverable ">
            <% if(locals.user){ %>
              <a class="navbar-link">
                <%= user.username %>
              </a>
              <div class="navbar-dropdown is-dark">
                <a href="<%=baseUrl %>/orders" class="navbar-item is-dark">
                  PERFIL
                </a>
                <hr class="navbar-divider is-dark">
                <a href="<%=baseUrl %>/logout" class="navbar-item is-dark">
                  SALIR
                </a>
              </div>
              <% }else { %>
                <a href="/login" aria-current="page">INICIAR SESION</a>
                <% } %>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <script type="text/javascript">
    (function () {
      let burger = document.querySelector('.burger');
      let nav = document.querySelector('#' + burger.dataset.target);

      burger.addEventListener('click', () => {
        burger.classList.toggle('is-active');
        nav.classList.toggle('is-active');
        // nav.classList.toggle('has-text-warning');
        nav.style.backgroundColor = "#323232";
      });
    })();
  </script>