<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
<meta name="msapplication-TileImage" content="../../img/cropped-ico-270x270.jpg" />
<title><%- tituloSeccion %> - Crosetto Ingeniería S.A.</title>
<link rel="stylesheet" id="bulma-min-css" href="../../styles/bulma.min.css" type="text/css" media="all" />
<link rel="stylesheet" id="wp-block-library-css" href="../../styles/style.min.css" type="text/css" media="all" />
<link rel="stylesheet" id="divi-fonts-css" href="../../styles/css" type="text/css" media="all" />
<link rel="stylesheet" id="divi-style-css" href="../../styles/style.css" type="text/css" media="all" />
<link rel="stylesheet" id="et-core-unified-798-cached-inline-styles"
href="../../styles/et-core-unified-798-1606843817952.min.css" />
<link rel="stylesheet" href="../../styles/styles.css" type="text/css" media="all" />
<link rel="icon" href="../../img/cropped-ico-32x32.jpg" sizes="32x32" />
<link rel="icon" href="../../img/cropped-ico-192x192.jpg" sizes="192x192" />
<link rel="apple-touch-icon" href="../../img/cropped-ico-180x180.jpg" />
<script type="text/javascript" src="../../src/jquery.js" id="jquery-core-js"></script>