
      <div id="et-main-area">
        <div id="main-content">
          <!-- <div class="et_pb_section et_pb_section_4 et_pb_with_background et_section_regular"></div> -->
          <div id="contacto" class="et_pb_row et_pb_row_10 et_pb_row_fullwidth">
            <br />
            <br />
            <div class="et_pb_column et_pb_column_4_4 et_pb_column_43 et_pb_css_mix_blend_mode_passthrough et-last-child">
              <div class="et_pb_module et_pb_text et_pb_text_3 et_pb_text_align_left et_pb_bg_layout_dark">
                <div class="et_pb_text_inner">
                  <h1 style="text-align: right">Ingreso de artículos</h1>
                </div>
              </div>
              <div class="et_pb_module et_pb_divider et_pb_divider_2 et_pb_space">
                <!-- <div class="et_pb_divider_internal"></div> -->
              </div>
            </div>
          </div>
          <br />
          
          <div class="et_pb_row et_pb_row_2">

            
            <div id="et_pb_contact_form_0" class="et_pb_module et_pb_contact_form_0 et_pb_contact_form_container clearfix" data-form_unique_num="0">
              <div class="et-pb-contact-message"></div>
              <br>
              
              
              <form method="post" action="/insert" id="insert">
                <div class="field columns">
                  <!-- <div class="column auto"></div> -->
                  <div class="column is-four-fifths">
                    <!-- Código de barras -->
                    <p class="control has-icons-left">
                      <input class="input" type="" id="codbar" placeholder="Código de barras" onfocusout="checkit()" />
                      <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                      </span>
                    </p>
                  </div>
                  <!-- <3591> - border-color: #e6ad30; -->
                  <div class="field column has-text-grey-lighter">
                    <!-- Cantidad -->
                    <p class="control has-icons-left">
                      <input class="input" id="cantidad" type="number" placeholder="Cantidad" required>
                      <i class="fas fa-check"></i>
                      <!-- </span> -->
                    </p>
                  </div>
                  <!-- <div class="column auto"></div> -->
                </div>

                <div class="field columns ">
                  <!-- <div class="column auto"></div> -->
                  <div class="column is-half  has-text-grey-lighter">
                    <p class="control has-icons-left">
                      <input class="input" id="articulo_name" name="articulo_name" type="text" placeholder="Marca" disabled>
                      <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                      </span>
                    </p>
                  </div>
                  <div class="column is-half has-text-grey-lighter field control">
                    <p class="control has-icons-left field">
                      <!-- <input class="input" id="modelo" name="modelo" type="text" placeholder="Modelo" disabled /> -->
                      <input class="input" id="modelo" name="modelo" type="text" placeholder="Modelo"/>
                      <i class="fas fa-check"></i>
                      </span>
                    </p>
                  </div>
                </div>


                <div class="field is-horizontal">
                  <div class="field-body">
                    <div class="field has-text-grey-lighter">
                      <!-- Descripción y/o comentarios del artículo -->
                      <div class="control">

                        <textarea class="textarea has-background-grey-dark input has-fixed-size " id="descripcion" name="descripcion" placeholder="Comentarios" style="padding-left: 32px"></textarea>
                      </div>
                    </div>
                  </div>
                </div>

              </form>



                <div class="et_pb_divider_internal"></div>
                <div class="et_contact_bottom_container">
                  <button type="submit" name="et_builder_submit_button" form="insert" class="et_pb_contact_submit et_pb_button">Enviar</button>
                </div>
              </div>

            </div>
          </div>
        </div>
